@use "sass:math";
@function is-length($value) {
  @return type-of($value) == "number" and $value != 0;
}
@function is-absolute-length($value) {
  @return is-length($value) and (unit($value) == 'px' or unitless($value));
}

@function toRem($size,$key: false){
  //@debug $is_a_keyword,$key;
  @if(is-absolute-length($size)){
    //@debug $size;
    $remSize: math.div($size,16);
    @if(unitless($remSize)){
      $remSize: $remSize + rem;
    }
    @return #{$remSize};
  }@else {
    @return $size;
  }
}
@function getLineHeight($size){
    $remSize: ($size * $line_height_ratio);
    @return toRem($remSize);
}

@function toPx($size,$key: false){
  @if(is-absolute-length($size)){
    //@debug $size;

    @return $size + px;
  }@else {
    @return $size;
  }
}

@function Px($size) {
  @return $size;
}

@function should-replace($string,$search){
  $index: str-index($string, $search);
  @if $index {
    @return true;
  } @else {
    @return false;
  }
}
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return #{str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)};
  }

  @return #{$string};
}
