$colors: (
        pry: #064328,
        black: #323232,
        blue: #1e487a,
        white: #ffffff,
        grey: #E4DDFFB0,
        li-grey:#AFB6B31A,
        dark-black: #000000,
        orange:  #FCA311,
        transparent: transparent,
        red: #C73E1D,
        cyan: #D0FBE8
)
